<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

	<servers>
		<server>
			<id>forgejo</id>
			<username>c.opfermann</username>
			<password>a981e097548560c7a594b11970fdd59dc82d4013</password>
		</server>
	</servers>
</settings>
